.jumbotron {
    background: #00BCFF;
    color: #fff;
    margin: 0px;
    height: 150px;
}
.header .top-bar {
    position: relative;
    padding-top: 15px;
    padding-bottom: 120px;
}


body    
{
	background: #058888;
}
head
{
    background-color: #058888;
}
.jumbotron-special{
    width:100%;
    height: 350px;
    background-color:#00BCD4;
    padding:0px;
    margin:0px;
    text-align: center;
    overflow-x: hidden;
}
img
{
    text-align: center;
}
h1
{
    font-family: noto serf;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}
.title
{
    font-size: 28px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
}
.profile
{
    max-width: 800px;
    margin: 0 auto;
}
.fa {
    font-weight: 400;
    align-items: center;
    padding-top: 20px;
    width: 400px;
    }
    .header .social a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    text-align: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding-top: 2px;
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.fa-big{
font-size: 50px !important;
}
#education-section{
    padding-bottom: 20px;
}
.info
{
    color: #2588ff;
}
.info1
{
    color: red;
    text-align-last: center;
}
.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    }
    .page-nav-space-holder {
    height: 60px;
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


 .page-nav-wrapper {
    background: #007888;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.list-inline {
    padding-left: 27%;
    list-style: none;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
a
{
    color: #00bcd4;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    background: 006600;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    overflow-x: hidden;
    position: relative;
    }


    .section {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 45px;
    background: #efe;
    margin-bottom: 45px;
    border-radius: 2px;
    background-clip: padding-box;
}

.timeline {
    border-left: 3px solid #00BCD4;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
    }
    .timeline .item {
    position: relative;
    margin-bottom: 45px;
}
.timeline .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    border: 3px solid #00BCD4;
}
.right {
  left: 50%;
}
.left {
  left: 0%;
}

 ::before {
    box-sizing: border-box;
}

.work-place
{
    box-shadow: 0 1px 150px 0 rgba(5, 0, 0, 50);
    padding: 45px;
    background: #ddd;
    margin-bottom: 45px;
    margin-right:  50%;
    border-radius: 2px;
    background-clip: padding-box;
}
.skk
{
    font-family: Great Vibes;
    font-weight: bold;
    font-size: 30px;
}
 .profile-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 80px;
    margin-left: -80px;
    border: 5px solid #fff;
     border-radius: 50%;
    left: 50%;
}
_reboot.scss:273
img {
   border-color: white;
    border-radius: 50%;
    }
.ll li
{
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    
}
.hstyle
{
    color: #005599;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
h6
{
    padding-bottom: 100px;
}
.page-nav-space-holder {
    height: 60px;
    position: relative;
    }
    
    .d-md-block {
    display: block!important;
}